{% extends 'base.html.twig' %}
{% block title %}Modification d'une formation{% endblock %}
{% block body %}
    <div class="panel">
        <div class="title-hero"><h1>Modification d'une formation</h1></div>
        <div class="panel-body">
            <div class="example-box-wrapper">
                {{ form_start(form,{'attr':{'class':'form-horizontal bordered-row'}}) }}
                <div class="form-group">
                    <label class="col-sm-3 control-label">Libelle: <span class="tx-danger">*</span></label>
                    <div class="col-sm-6">
                        {{ form_widget(form.libelle,{'attr':{'class':'form-control '}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Module: <span class="tx-danger">*</span></label>
                    <div class="col-sm-6">
                        {{ form_widget(form.module,{'attr':{'class':'form-control '}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Lieu: <span class="tx-danger">*</span></label>
                    <div class="col-sm-6">
                        {{ form_widget(form.lieu,{'attr':{'class':'form-control '}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Date debut: <span class="tx-danger">*</span></label>
                    <div class="col-sm-6">
                        {{ form_widget(form.dateDebut,{'attr':{'class':'form-control bootstrap-datepicker'}}) }}
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label">Date Cloture: <span class="tx-danger">*</span></label>
                    <div class="col-sm-6">
                        {{ form_widget(form.dateFin,{'attr':{'class':'form-control bootstrap-datepicker'}}) }}
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label">Specialités: <span class="tx-danger">*</span></label>
                    <div class="col-sm-6">
                        {{ form_widget(form.specialites,{'attr':{'class':'form-control chosen-select '}}) }}
                    </div>
                </div>
                <div class="bg-default content-box text-center pad20A mrg25T">
                    <button class="btn btn-lg btn-primary" >Enregistrer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{ asset('assets/widgets/chosen/chosen.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/widgets/chosen/chosen-demo.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/widgets/datepicker/datepicker.js') }}"></script>
    <script type="text/javascript">
        /* Datepicker bootstrap */
        $(function() { "use strict";
            $('.bootstrap-datepicker').bsdatepicker({
                format: 'mm-dd-yyyy'
            });
        });
    </script>

{% endblock %}