{% extends 'base.html.twig' %}
{% block title %}Liste des candidats acceptées{% endblock %}
{% block body %}
    <div class="panel">
        <div class="panel-body">
            <h3 class="title-hero">
                Listes des candidat acceptées
            </h3>
            <div class="example-box-wrapper">

                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered table-responsive" id="datatable">
                    <thead>
                    <tr>
                        <th>Cin</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Note pratique</th>
                        <th>Note orale</th>
                        <th>Note écrit</th>
                        <th>Moyenne</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for canEx in canExs %}
                        <tr class="odd gradeX">
                            <td>{{ canEx.candidat.cin }}</td>
                            <td>{{ canEx.candidat.nom }}</td>
                            <td>{{ canEx.candidat.prenom }}</td>
                            <td>{{ canEx.pratique.note }}</td>
                            <td>{{ canEx.orale.note }}</td>
                            <td>{{ canEx.ecrit.note }}</td>
                            <td>{{ canEx.moyenne }}</td>
                            <td class="text-center"><a href="{{ path('profile_candidat',{'id':canEx.candidat.id}) }}">
                                    <i class="glyph-icon icon-eye"></i>
                                </a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}

<!--<link rel="stylesheet" type="text/css" href="../../assets/widgets/datatable/datatable.css">-->
<script type="text/javascript" src="{{ asset('assets/widgets/datatable/datatable.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/widgets/datatable/datatable-bootstrap.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/widgets/datatable/datatable-tabletools.js') }}"></script>
<script type="text/javascript">
    /* Datatables basic */

    $(document).ready(function() {
        $('#datatable').dataTable();
    });
</script>
    {% endblock %}
